html, body, #root {
    height: 100%;
    margin: 0;
}

.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    flex: 1;
}

.footer {
    background-color: #F2e8df;
    align-content: baseline;
    color: #333;
    text-align: center;
    font-size: 14px;
}

.footerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    margin: auto;
}

.footerSection {
    flex: 1;
    min-width: 250px; 
    h4 {
        margin-bottom: 15px;
        font-size: 16px;
        color: #8C5042;};
    ul {
        list-style: none;
        padding: 0;};
    ul li {
        margin: 8px 0;};
    ul li a {
        text-decoration: none;};
    ul li a:hover {
        color: #8C5042;};
}

.mastercard {
    height: 41px;
    width: 57px;
}

.visa {
    height: 20px;
    width: 60px;
}

.footerSection p, .footerSection a {
    margin: 8px 0;
    color: #333;
    text-decoration: none;
    a:hover {
        color: #8C5042;}
}

.footerBottom {
    border-top: solid, 5px, #8C5042;
    font-size: 12px; 
    a {
        color: #333;
        text-decoration: none;};
    a:hover {
        color: #8C5042;}
}